<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">ЛарЁк</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {{#if isHome}}
        <li class='active'><a href="/">Главная</a></li>
      {{else}}
        <li><a href="/">Главная</a></li>
      {{/if}}
      {{#if isItems}}
        <li class='active'><a href="/items">Ролторы</a></li>
      {{else}}
        <li><a href="/items">Ролторы</a></li>
      {{/if}}

      {{#if isAdmin}}
      {{#if isAdd}}
        <li class='active'><a href="/add">Добавить</a></li>
        {{else}}
          <li><a href="/add">Добавить</a></li>
        {{/if}}
      {{/if}}


      {{#if isAuth}}
        

        {{#if isCard}}
          <li class='active'><a href="/card">Корзина</a></li>
        {{else}}
          <li><a href="/card">Корзина</a></li>
        {{/if}}
        {{#if isOrder}}
          <li class='active'><a href="/orders">Заказы</a></li>
        {{else}}
          <li><a href="/orders">Заказы</a></li>
        {{/if}}
          <li><a href="/auth/logout">Выйти</a></li>
    </ul>
      {{else}}
        {{#if isLogin}}
          <li class='active'><a href="/auth">Войти</a></li>
        {{else}}
          <li><a href="/auth">Войти</a></li>
        {{/if}}
      {{/if}}
  </div>
</nav>